:root {
  --article-bg-color: #FFFFFF;
  --article-shadow-color: rgba(0, 0, 0, .1);
  --bg-color: #FAFAFA;
  --comment-bg-color: #FFF;
  --font-color: #333;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--article-bg-color);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 30px;
}

.heading {
  background-color: var(--article-bg-color);
  letter-spacing: -2px;
  margin-bottom: 5px;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.comment {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.comment:hover {
  transform: translateX(5px);
}

.comment--author {
  font-weight: bold;
}

.comment--text {
  font-weight: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-bg-color: #333;
    --article-shadow-color: rgba(0, 0, 0, .3);
    --bg-color: #222;
    --font-color: #AAA;
  }
}
